{% extends 'base.html' %}

{% block content %}
<div class="container">
    <body>
        <style>
        @font-face {
                font-family: "Andy Bold V2";
                src: url("https://db.onlinewebfonts.com/t/775c3814e9c1f228d495333e07580d59.eot");
                src: url("https://db.onlinewebfonts.com/t/775c3814e9c1f228d495333e07580d59.eot?#iefix")format("embedded-opentype"),
                url("https://db.onlinewebfonts.com/t/775c3814e9c1f228d495333e07580d59.woff2")format("woff2"),
                url("https://db.onlinewebfonts.com/t/775c3814e9c1f228d495333e07580d59.woff")format("woff"),
                url("https://db.onlinewebfonts.com/t/775c3814e9c1f228d495333e07580d59.ttf")format("truetype"),
                url("https://db.onlinewebfonts.com/t/775c3814e9c1f228d495333e07580d59.svg#Andy Bold V2")format("svg");
            }

            .container{
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: center;
            }

            * {
                font-family: "Andy Bold V2";
            }

            .navbar {
                position: fixed; /* Membuat navbar tetap di atas halaman */
                top: 0;
                left: 0;
                width: 100%; /* Mengisi seluruh lebar halaman */
                background-color: rgba(54, 53, 131, 0.8);
                font-size: large;
                z-index: 1000; /* Untuk menempatkan navbar di atas konten lainnya */
            }

            .navbar ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
            }

            .navbar li {
                float: left;
            }

            .navbar li a {
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }

            .title{
                text-align: center;
                color:white;
                text-shadow: 0px 0px 5px #000000;
                font-family: "Andy Bold V2";
                font-size: 45px;
                padding: 80px 0px 0px 0px;
            }

            body {
                background-image: url("https://forums.terraria.org/index.php?attachments/n-9-png.37956/");
                background-repeat: no-repeat;
                background-size: cover;
                height: 100vh;
            }

            h1 {
                text-align: center;
                color: white;
                text-shadow: 0px 0px 5px #000000;
                font-size: 45px;
                padding: 0px 100px 0px 100px;
            }

            h5 {
                color: white;
                text-shadow: 0px 0px 5px #000000;
                font-size: large;
            }

            p {
                color: white;
                text-shadow: 0px 0px 5px #000000;
                font-size: large;
            }

            table {
                border-collapse: collapse;
                width: 100%;
            }

            table, th, td {
                border: 1px solid white;
            }

            th, td {
                padding: 8px;
                text-align: left;
                color: white;
                text-shadow: 0px 0px 5px #000000;
            }

            .judul_table {
                background-color: rgba(54, 53, 131, 1);
            }

            button {
                background-color: transparent;
                color: #fff;
                border: none;
                cursor: pointer;
                text-shadow: 0px 0px 5px #000000;
                font-size: large;
            }

            button:hover {
                transform: scale(1.2);
                color: #fed405;
            }
        </style>

        <nav class="navbar">
            <ul>
                <li><a>{{ name }}</a></li>
                <li><a href="{% url 'main:logout' %}">
                    <button>
                    Logout
                    </button>
                </a></li>
            </ul>
        </nav>

        <div class="title">
        <h1>{{ app_name }}</h1>
        </div>

        <h3>Total items in your inventory: {{ total_items }}</h3>

        <table>
            <tr class = "judul_table">
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>iLvl</th>
                <th>Use</th>
                <th>Amount</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>

            {% comment %} Berikut cara memperlihatkan data item di bawah baris ini {% endcomment %}

            {% for item in items %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.description }}</td>
                    <td>{{ item.price }}</td>
                    <td>{{ item.item_level }}</td>
                    <td>{{ item.use }}</td>
                    <td>{{ item.amount }}</td>

                    <td>
                        <form method="post" action="{% url 'main:increment_item' item.id %}">
                            {% csrf_token %}
                            <button type="submit">+</button>
                        </form>
                    </td>

                    <td>
                        <form method="post" action="{% url 'main:decrement_item' item.id %}">
                            {% csrf_token %}
                            <button type="submit">-</button>
                        </form>
                    </td>

                    <td>
                        <form method="post" action="{% url 'main:trash_item' item.id %}">
                            {% csrf_token %}
                            <button type="submit"><img src="https://static.wikia.nocookie.net/terraria_gamepedia/images/b/b1/Trash_Slot.png/revision/latest?cb=20171214025354&format=original" /></button>
                        </form>
                    </td>

                </tr>
            {% endfor %}
        </table>

        <br />

        <h5>Sesi terakhir login: {{ last_login }}</h5>

        <a href="{% url 'main:create_item' %}">
            <button id="add_item">
                Add New Item
            </button>
        </a>

    </body>
</div>
{% endblock content %}
